/* line 16, ../scss/style.scss */
body {
  padding-top: 70px;
  background: #fbfbfb;
}

/* line 1, ../scss/_header.scss */
.site-search {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 4, ../scss/_header.scss */
.site-search.active {
  min-width: 210px;
}

/* line 9, ../scss/_header.scss */
.ckc-search-form {
  width: 230px;
  padding-right: 0;
}
@media (max-width: 768px) {
  /* line 9, ../scss/_header.scss */
  .ckc-search-form {
    width: inherit;
    padding-right: 15px;
  }
}

/* line 1, ../scss/_login.scss */
body.login {
  background: #f3f3f3;
}
/* line 3, ../scss/_login.scss */
body.login .wrapper {
  max-width: 300px;
  margin: 0 auto;
}
/* line 8, ../scss/_login.scss */
body.login .logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  margin: 0 auto 40px;
  opacity: .5;
  background-image: url('../img/logo.png?1391286727');
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 8, ../scss/_login.scss */
  body.login .logo {
    background-image: url('../img/logo@2x.png?1391286727');
    background-size: 100px 100px;
  }
}
/* line 18, ../scss/_login.scss */
body.login .logo:hover {
  opacity: .6;
}
/* line 23, ../scss/_login.scss */
body.login .ckc-btn-login {
  width: 100%;
}

/* line 1, ../scss/_sidebar.scss */
.ckc-head-item {
  background-color: #e7ecf1;
  font-weight: bold;
}
/* line 5, ../scss/_sidebar.scss */
.ckc-head-item .glyphicon-bookmark {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
  color: #a71010;
}

/* line 14, ../scss/_sidebar.scss */
.sidebar-accordion {
  margin-top: 20px;
}
/* line 17, ../scss/_sidebar.scss */
.sidebar-accordion .panel-collapse .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 1, ../scss/_view-customer.scss */
.ckc-customer-h {
  margin-top: 0;
}

/* line 5, ../scss/_view-customer.scss */
.ckc-fav-icon {
  text-decoration: none;
  font-size: .6em;
  top: -.1em;
  left: 5px;
}
/* line 12, ../scss/_view-customer.scss */
.ckc-fav-icon:hover {
  text-decoration: none;
}
/* line 16, ../scss/_view-customer.scss */
.ckc-fav-icon.glyphicon-star {
  color: #f8d308;
}
/* line 19, ../scss/_view-customer.scss */
.ckc-fav-icon.glyphicon-star:hover {
  color: #dddddd;
}
/* line 24, ../scss/_view-customer.scss */
.ckc-fav-icon.glyphicon-star-empty {
  color: #dddddd;
}
/* line 27, ../scss/_view-customer.scss */
.ckc-fav-icon.glyphicon-star-empty:hover {
  color: #f8d308;
}

/* line 33, ../scss/_view-customer.scss */
.ckc-page-header {
  border-bottom-width: 3px;
}

/* line 37, ../scss/_view-customer.scss */
.ckc-account {
  width: 100%;
  margin-bottom: 30px;
}

/* line 42, ../scss/_view-customer.scss */
.ckc-view-panel {
  background-color: white;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px;
}
/* line 49, ../scss/_view-customer.scss */
.ckc-view-panel .ckc-view-btn-group {
  top: -11px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* line 55, ../scss/_view-customer.scss */
.ckc-view-panel .ckc-input-group-username {
  margin-bottom: 10px;
}
/* line 59, ../scss/_view-customer.scss */
.ckc-view-panel .form-control {
  background-color: #f4f4f4;
  cursor: pointer;
}
/* line 64, ../scss/_view-customer.scss */
.ckc-view-panel label {
  display: block;
}

/* line 69, ../scss/_view-customer.scss */
.ckc-loginurl, .ckc-comment {
  position: relative;
  top: -1px;
  background: white;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* line 77, ../scss/_view-customer.scss */
.ckc-loginurl {
  padding: 10px;
  margin-bottom: -1px;
}

/* line 82, ../scss/_view-customer.scss */
.ckc-comment {
  padding: 10px 10px 0 10px;
}

/* line 26, ../scss/style.scss */
.ckc-panel-dump {
  display: block;
}

/* REMOVE THIS SHIT IN HERE */
/* line 34, ../scss/style.scss */
h1.primary {
  margin-bottom: 30px;
}

/* line 38, ../scss/style.scss */
section.history {
  width: 400px;
  /*&:hover > .options{
  	visibility: visible;
  }*/
}
/* line 41, ../scss/style.scss */
section.history .subinfo {
  color: #999;
  font-weight: 300;
}
/* line 46, ../scss/style.scss */
section.history .date {
  font-size: 24px;
}
/* line 54, ../scss/style.scss */
section.history .options {
  margin-top: 10px;
  color: #999;
}
/* line 62, ../scss/style.scss */
section.history:after {
  clear: both;
}

/* line 67, ../scss/style.scss */
.fade {
  opacity: 1.0;
  -webkit-animation: fadeout 3s;
  /* Chrome, Safari, Opera */
  animation: fadeout 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
  /* line 75, ../scss/style.scss */
  from {
    background: #35d329;
  }

  /* line 78, ../scss/style.scss */
  to {
    background: none;
  }
}

/* Standard syntax */
@keyframes fadeout {
  /* line 85, ../scss/style.scss */
  from {
    background: #35d329;
  }

  /* line 86, ../scss/style.scss */
  to {
    background: none;
  }
}

/* line 89, ../scss/style.scss */
blockquote {
  color: #333;
  text-decoration: italic;
}
