/* line 3, ../scss/style.scss */
body {
  padding-top: 70px;
}

/* line 5, ../scss/style.scss */
.ckc-alert {
  width: auto;
  position: relative;
}

/* line 10, ../scss/style.scss */
.site-search {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 12, ../scss/style.scss */
.site-search.active {
  min-width: 250px;
}
