.site-search {
	@include transition(all .3s);

	&.active {
		min-width: 210px;
	}
}

.ckc-search-form {
	width: 230px;
	padding-right: 0;
	@include breakpoint(third) {
		width: inherit;
		padding-right: 15px;
	}
}

.navbar-fixed-top + .container {
	margin-top: 15px;
}