.ckc-customer-h {
	margin-top: 0;
}

.ckc-fav-icon {
	
	text-decoration: none;
	font-size: .6em;
	top: -.1em;
	left: 5px;

	&:hover {
		text-decoration: none;
	}

	&.glyphicon-star {
		color: #f8d308;

		&:hover {
			color: #dddddd;
		}
	}

	&.glyphicon-star-empty {
		color: #dddddd;

		&:hover {
			color: #f8d308;
		}
	}
}

.ckc-page-header {
	border-bottom-width: 3px;
}

.ckc-account {
	width: 100%;
	margin-bottom: 30px;
}

.ckc-view-panel {
	background-color: white;
	width: 100%;
	border: 1px solid #ddd;
	@include box-shadow(0 1px 1px rgba(0,0,0,.05));
	padding: 10px;

	.ckc-view-btn-group {
		top: -11px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.ckc-input-group-username {
		margin-bottom: 10px;
	}

	.form-control {
		background-color: #f4f4f4;
		cursor: pointer;
	}

	label {
		display: block;
	}
}

.ckc-loginurl, .ckc-comment {
	position: relative;
	top: -1px;
	background: white;
	border: 1px solid #ddd;
	@include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

.ckc-loginurl {
	padding: 10px;
	margin-bottom: -1px;
}

.ckc-comment {
	padding: 10px 10px 0 10px;
}