@import "compass";
@import "breakpoints";

@mixin retina-background($name, $extension) {
	background-image: image-url($name + "." + $extension);

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: image-url($name + "@2x." + $extension);
		background-size: image-width($name + "." + $extension) image-height($name + "." + $extension);
	}
}

body {
	padding-top: 70px;
	background: #fbfbfb;
}

@import "octicons";
@import "header";
@import "login";
@import "sidebar";
@import "footer";
@import "view-customer";

.ckc-panel-dump {
	display: block;
}

.no-list-style {
list-style: none;
margin: 0px;
padding: 0px;
}

.table td:last-child {
	max-width: 55px; /* breaks at xs-breakpoint */
}

.align-right {
text-align: right;
}

/* REMOVE THIS SHIT IN HERE */
h1.primary {
	margin-bottom: 30px;
}

section.history {
	width: 400px;

	.subinfo {
		color: #999;
		font-weight: 300;
	}

	.date {
		font-size: 24px;
	}

	.options {
		margin-top: 10px;
		color: #999;
	}

	&:after {
		 clear: both;
	}
} 

.fade {
	opacity: 1.0;
	-webkit-animation: fadeout 4s; /* Chrome, Safari, Opera */
	animation: fadeout 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeout {
	from {
		background: #dff0d8;
	}
	to {
		background: none;
	}
}

/* Standard syntax */
@keyframes fadeout {
	from {background: #dff0d8;}
	to {background: none;}
}

/* Newsticker */
.newsticker {
	margin-bottom: 20px;
	clear: both;

	h3 {
		margin-top: 0;
		font-size: 20px;
	}

	ul {
		padding: 0;
		margin: 0 20px 0 0;
		width: 100px;
		font-size: 13px;
		color: #888;
		float: left;

		li {
			list-style: none;
		}
	}

	p {
		min-height: 30px;
	}
	
	a {
		color: #888;	
	}

	&:after {
		clear: both;
	}

}



	

